<html><head><title>CPAN dependencies and test results checker[% IF module %]: [% module %][% END %]</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
  <div id="perlad3">
    <script type="text/javascript"  src="http://adserver.szabgab.com/ads/direct_link_selflink.js?cnt=2"></script>
  </div>
  <p><a href=http://drhyde.cvs.sourceforge.net/drhyde/perlcpandeps/>Source code</a> |
     <a href=mailto:david@cantrell.org.uk?Subject=cpandeps+bug+report>Report bugs</a> |
     <a href=static/credits.html>Credits</a>
  </p>
  <p>Given a module name, this service will show you its dependencies
    along with a summary of their test results from the CPAN testers.
    The idea is that if you have
    a choice of several modules to use, this will show you which is the
    most reliable.
  </p>
  <p><small>It relies on modules having META.yml files so it can work
    out their dependencies, and is case-sensitive.
    The perl version number is used to filter test results and also to
    determine what's a core module and what's not - some core modules
    also exist seperately on the CPAN, but we don't bother looking at
    their dependencies.  If you choose a version like X.Y as opposed to
    X.Y.Z, then you'll get test results for all X.Y.* versions, and we
    assume X.Y.<strong>0</strong> for figuring out what's in core.  If you
    choose 'any version', then you get all test results and we divine
    core modules from perl <strong>5.005</strong>.  Modules can depend
    on particular versions of other modules.  We ignore that.  Patches welcome.
  </small></p>
  <p>Confused?
    <a href=/?module=XML%3A%3AFeed>A picture</a>
    <a href=/?module=XML%3A%3AFeed&perl=5.8>is worth</a>
    <a href=/?module=XML%3A%3AFeed&perl=5.8.8>a thousand words</a>.
  </p>
  <form method=get action=.>
    <table>
      <tr>
        <th align=right>Module</th>
        <td><input type=text name=module value="[% module | html %]"></td>
        <th align=right>Perl</th>
        <td><select name=perl>
          [% FOREACH thisperl = perls %]
            <option value="[% thisperl %]" [% IF thisperl == perl %] SELECTED [% END %]>[% thisperl %]
          [% END %]
        </td>
      </tr>
      <tr><th colspan=2 align=left><input type=submit></th></tr>
    </table>
  </form>
  [% IF module %]
    [% successpc = 100 %]
    <table>
      [% FOREACH module = modules %]
        [% INCLUDE 'moduleresult.tt2' module = module %]
        [% IF module.pass + module.unknown + module.fail + module.na %]
          [% successpc = successpc * (module.pass + module.unknown) /
             (module.pass + module.unknown + module.fail + module.na) %]
        [% END %]
      [% END %]
      <tr>
        <th align=right>Chance of success</th>
        <td><img src=static/green.png height=16 width=[% successpc * 2 %]><img src=static/red.png height=16 width=[% 200 - successpc * 2 %]></td>
        <td>
          [% IF successpc < 1 %]
            [% successpc.sprintf("%.3f") %]% (to 3dp)
           [% ELSIF successpc < 10 %]
            [% successpc.sprintf("%.1f") %]% (to 1dp)
           [% ELSE %]
            [% successpc.int %]%
          [% END %]
        </td>
      </tr>
    </table>
    <p>The chance of success is calculated by multiplying the probabilities
      of the module and all its dependencies passing their tests, or
      getting 'unknown' test results.  None of these results take into
      account the OS platform you are using.</p>
    <p>If you think this rocks incredibly hard, then I like
      <a href=http://www.cantrell.org.uk/david/wishlist/>shiny beads</a>.</p>
  [% END %]

[% debug.replace("\n","<br>").replace(" ","&nbsp;") %]
</body></html>
