<html><head><title>CPAN dependencies and test results checker[% IF module %]: [% module %][% END %]</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<!-- google analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15765130-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

<body>
  <script type='text/javascript'><!--
    var what_i_hid_when = [];
    function getElementsByClassName(classname)  {
      var allelements = document.getElementsByTagName("*");
      var myelements = [];
      var re = new RegExp('\\$' + classname + '\\$');
      for(var i=0; i< allelements.length; i++)
        if(re.test(allelements[i].className)) myelements.push(allelements[i]);
      return myelements;
    }
    function toggle(class_to_toggle, cell_to_change) {
      var cell = document.getElementById(cell_to_change);

      if(cell.innerHTML == '-') { hide(class_to_toggle, cell_to_change); }
       else { show(cell_to_change); }

      cell.innerHTML = cell.innerHTML == '-' ? '+' : '-';
    }
    function show(cell_to_change) {
      for(var i = 0; i < what_i_hid_when[cell_to_change].length; i++) {
        what_i_hid_when[cell_to_change][i].style.display = 'block';
      }
    }
    function hide(class_to_toggle, cell_to_change) {
      what_i_hid_when[cell_to_change] = [];

      var objects_to_toggle = getElementsByClassName(class_to_toggle);
      for(var i = 0; i < objects_to_toggle.length; i++) {
        var obj = objects_to_toggle[i];
        if(obj.style.display != 'none') {
	  obj.style.display = 'none';
	  what_i_hid_when[cell_to_change].push(obj);
	}
      }
    }
  // -->
  </script>
  <div id="perlad3">
    <script type="text/javascript"  src="http://adserver.szabgab.com/ads/direct_link_selflink.js?cnt=2"></script>
  </div>
  <p><a href=http://www.cantrell.org.uk/cgit/cgit.cgi/cpandeps/>Source code</a> |
     <a href=static/reportbug.html>Report a bug in this site</a> |
     <a href=static/credits.html>Credits</a> |
     <a href=static/links.html>Links</a>
  </p>
  <p>Given a <strong>module name</strong>, this service will show you
    its dependencies
    along with a summary of their test results from the CPAN testers.
    The idea is that if you have
    a choice of several modules to use, this will show you which is the
    most reliable.
  </p>
  <p><small>Please note: this site is a tool to analyse the dependencies of modules written in the Perl programming language.  I can not help you with any problems you might have with using any modules.</small></p>
  <p><small>It relies on modules having META.yml files so it can work
    out their dependencies, and is <strong>case-sensitive</strong>.
    The perl version number is used to filter test results and also to
    <a href=/?module=XML%3A%3AFeed&perl=5.8.8>determine what's a core
    module</a> and what's not - some core modules
    also exist seperately on the CPAN, but we don't bother looking at
    their dependencies.  If you choose a version like X.Y as opposed to
    X.Y.Z, then you'll get test results for all X.Y.* versions, and we
    <a href=/?module=XML%3A%3AFeed&perl=5.8>assume X.Y.<strong>0</strong>
    for figuring out what's in core</a>.  If you
    choose 'any version', then you get all test results and we
    <a href=/?module=XML%3A%3AFeed>divine
    core modules from perl <strong>5.005</strong></a>.  Test results are
    cached for performance and may be up to three days out of date.
    Modules can depend
    on particular versions of other modules.  We ignore that.  Patches welcome.
  </small></p>
  <form method=get action=.>
    <table>
      <tr>
        <th align=right>Module</th>
        <td><input type=text name=module value="[% module | html %]"></td>
        <th align=right>Perl</th>
        <td><select name=perl>
          [% FOREACH thisperl = perls %]
            <option value="[% thisperl %]" [% IF thisperl == perl %] SELECTED [% END %]>[% thisperl %]
          [% END %]
        </select></td>
        <th align=right>OS</th>
        <td><select name=os>
          [% FOREACH thisos = oses %]
            <option value="[% thisos %]" [% IF thisos == os %] SELECTED [% END %]>[% thisos %]
          [% END %]
        </select></td>
      </tr>
      <tr>
        <td colspan=6>
	  <input type=checkbox name=pureperl [% IF pureperl %] CHECKED [% END %]><span title="warn about modules which have a C component, ie those that aren't 'pure perl'">purity warnings</span><a href=static/purity.html>?</a>
          <input type=checkbox name=devperls [% IF devperls %] CHECKED [% END %]>Include dev builds of perl?
	</td>
      </tr>
      <tr><th colspan=6 align=left><input type=submit></th></tr>
    </table>
  </form>
  [% IF module %]
    <p>
      <TABLE ALIGN=RIGHT><TR><TD WIDTH=100 ALIGN=CENTER>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_xclick">
          <input type="hidden" name="business" value="david@cantrell.org.uk">
          <input type="hidden" name="item_name" value="CPANdeps">
          <input type="hidden" name="no_note" value="1">
          <input type="hidden" name="currency_code" value="EUR">
          <input type="hidden" name="tax" value="0">
          <input type="image" src="https://www.paypal.com/images/x-click-butcc-donate.gif" border="0" name="submit" alt="Make payments with PayPal">
        </form></TD></TR></TABLE>
      This service costs &euro;50 a month to run.  If you think it rocks
      incredibly hard, then I like
      <a href=http://www.cantrell.org.uk/david/wishlist/>shiny beads</a>,
      but wouldn't say no to a little something to help defray costs either.
      <br clear=both>

    <p>
      <small>
        (<a href="?xml=1;module=[% module | html %];perl=[% perl %];os=[% os | html %];pureperl=[% pureperl %]">Get results in XML</a>)
      </small>
    [% successpc = 100 %]
    <table>
      [% depcounter = -1 %]
      [% FOREACH thismodule = modules %]
        [% depcounter = depcounter + 1 %]
        [% INCLUDE 'moduleresult.tt2' module = thismodule reqmodule = module %]
        [% IF !thismodule.textresult %]
	  [% IF thismodule.pass + thismodule.unknown + thismodule.fail + thismodule.na %]
            [% successpc = successpc * thismodule.pass /
               (thismodule.pass + thismodule.unknown + thismodule.fail + thismodule.na) %]
          [% END %]
	[% END %]
      [% END %]
      <tr>
        <th colspan=5 align=right>Chance of all tests passing</th>
        <td><img src=static/green.png height=16 width=[% successpc * 2 %]><img src=static/red.png height=16 width=[% 200 - successpc * 2 %]></td>
        <td>
          [% IF successpc < 1 %]
            [% successpc.sprintf("%.3f") %]% (to 3dp)
           [% ELSIF successpc < 10 %]
            [% successpc.sprintf("%.1f") %]% (to 1dp)
           [% ELSE %]
            [% successpc.int %]%
          [% END %] <small>(but <a href=static/overall-chance.html>note</a> that this doesn't mean much)</small>
        </td>
      </tr>
    </table>
    <p>The chance of success is calculated by multiplying the probabilities
      of the module and all its dependencies passing their tests.</p>
  [% END %]

<center>code written while listening to<br><a href="http://www.reverbnation.com/c./a4/376797/240116/Artist/0/User/link"><img alt="Rabid%20Gravy" border="0" src="http://www.reverbnation.com/c./a3/376797/240116/Artist/0/User/res.gif" /></a><a href="http://www.quantcast.com/p-05---xoNhTXVc" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-05---xoNhTXVc.gif" style="display: none" border="0" height="1" width="1" alt="Quantcast"/></a><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://counters.gigya.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyMzI3OTM4NTU*NDMmcHQ9MTIzMjc5Mzg3MDY5OCZwPTI3MDgxJmQ9YmFubmVyJTVGZmlyc3QlNUZnZW4mZz*xJnQ9Jm89NzBiNzI2M2IxOTU3NDdmN2JmMmRjOGVhZGZmOTBhZTE=.gif" /><br>so the bugs are all his fault</center>
[% debug.replace("\n","<br>").replace(" ","&nbsp;") %]
</body></html>
